html, body {
	height: 100%;
	min-height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;

	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #1e222d;
}

/* home layer */
.content-wrap-home {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	background-color: rgba(179, 225, 255, 0.8);
	height: 100%;
	width: 100%;
}

.content-home {
	position: relative;
	top: 30%;

	display: flex;
	align-items: center;
	flex-direction: column;
}

.title {
	font-size: 35px;
	font-family: 'Courier New', Courier, monospace;
	color: #333333;
	text-align: center;
}

.search-wrap {
	width: 100%;
	max-width: 590px;
	padding-top: 20px;
}

.search-wrap input {
	width: 100%;
	height: 2.54545em;
	font-size: 1.1em;
	padding-left: .5em;
	box-sizing: border-box;
}

#explore-link {
	text-align: center;
	color: #333333;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
}

#explore-link:hover {
	text-decoration: underline;
}

/* graph layer */
.content-wrap-graph {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;

	width: 100%;
	height: 100%;
}

#graph {
	display: block;
	width: 100%;
	height: 100%;
}

.legend {
	position: absolute;
	right: 10px;
	bottom: 10px;
	pointer-events: none;
	color: #eeeeee;
}

.legend-row {
	display: flex;
	justify-content: space-between;
}

.legend-swatch {
	height: 10px;
	width: 50px;
}

/* graph elements */
.links line {
	stroke: #999;
	stroke-opacity: 0.6;
	stroke-width: 1;
}

.nodes circle {
	stroke: #fff;
	stroke-width: 1.5px;
	outline: none;
}

.links .highlighted {
	stroke: #0044ff;
	stroke-width: 2;
}

.nodes .highlighted {
	stroke: #0044ff;
	stroke-width: 3;
}

/* tooltips */
.tooltip-content {
	margin-top: 1em;
	margin-bottom: 1em;
}

.tooltip-content p {
	margin: 0;
}

.tooltip-row {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.tooltip-link {
	color: #fff;
}