body{
	background-color: #b3e0ff;

}

div.window-pane {
	position: relative;
}

div.wordBox {
	position: absolute;
	top: 75px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;


}

div.title {
	font-size: 35;
	color: #333333;
}

div.addendum {

}

div.searchBarTitle {
	width: 550px;
	height: 48px;
	position: absolute;
	top: 650px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

span.textBox {
	position: relative;
	width: 90%;
	height: 48px;
}

input {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 0;
	width: 90%;
	height: 100%;
	font-size: 20px;
}

#Welcome-Message {
	text-align: center;
	font: "courier new";
}

img {
	height: 100%;
}